<!DOCTYPE html PUBLIC>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>后台管理中心</title>
    <link rel="stylesheet" href="/admin/css/pintuer.css"/>
    <link rel="stylesheet" href="/admin/css/admin.css"/>
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="/admin/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/admin/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/admin/js/pintuer.js"></script>
    <title>编辑影人信息</title>
    <style type="text/css">
        .occupation-box {
            border: 1px solid #ddd;
            width: 300px !important;
            height: 100px;
            padding: 20px;
        }

        .occupation-box > label {
            margin-right: 22px;
        }
        .body-content label {
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 影人信息</strong></div>
    <div id="app" class="body-content">
        <form method="post" class="form-x" id="form" @submit.prevent="submit">
            <div class="form-group">
                <div class="label">
                    <label>影人姓名：</label>
                </div>
                <div class="field">
                    <input type="hidden" name="id" v-model="maker.id" />
                    <input type="text" class="input" name="name" v-model="maker.name" size="100" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>头像：</label>
                </div>
                <div class="field">
                    <input type="text" name="avatar" class="input" v-model="maker.avatar"
                    data-toggle="hover" data-place="right" v-bind:data-image="maker.avatar"
                    style="        width: 600px;" readonly>
                    <input type="file" name="file" accept="image/*" @change="uploadAvatar">
                </div>
            </div>
            <!--职业-->
            <div class="form-group">
                <div class="label">
                    <label>职业：</label>
                </div>
                <div class="field">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="演员" v-model="maker.occupationList"> 演员
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="导演" v-model="maker.occupationList"> 导演
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="编剧" v-model="maker.occupationList"> 编剧
                    </label>
                </div>
            </div>
            <!--性别-->
            <div class="form-group">
                <div class="label">
                    <label>性别：</label>
                </div>
                <div class="field">
                    <label class="checkbox-inline">
                        <input type="radio" value="0" v-model="maker.sex"> 男
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" value="1" v-model="maker.sex"> 女
                    </label>
                </div>
            </div>
            <!--国籍-->
            <div class="form-group">
                <div class="label">
                    <label>国籍：</label>
                </div>
                <div class="field">
                    <input class="input" type="text" v-model="maker.nationality">
                </div>
            </div>
            <!--简介-->
            <div class="form-group">
                <div class="label">
                    <label>简介：</label>
                </div>
                <div class="field">
                    <textarea class="input" type="text" v-model="maker.info"></textarea>
                </div>
            </div>
            <!--获奖经历-->
            <div class="form-group">
                <div class="label">
                    <label>获奖经历：</label>
                </div>
                <div class="field">
                    <textarea class="input" type="text" style="width: 400px" v-model="maker.awardRecord"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button border-main icon-check-square-o" type="submit"> 提交</button>
                    <button class="button border-red icon-tags" type=v"button" onclick="window.history.go(-1);"> 返回
                    </button>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript" src="/public/js/vue.js"></script>
    <script type="text/javascript" src="/public/js/axios.js"></script>
    <script type="text/javascript" src="/public/js/axios-config.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                maker: {
                    avatar: null,
                    occupationList:[]
                },
                submitUrl: "/api/v1/maker/save"
            },
            methods: {
                uploadAvatar(event){
                    const form = new FormData()
                    form.append('multipartFile',event.target.file[0])
                    let url='/api/v1/file/upload'
                    axios.post(url,form)
                        .then(res =>{
                            this.maker.avatar = res.data
                        })
                },
                submit() {
                    this.maker.occupation = this.maker.occupationList.join(" / ")
                    this.maker.occupationList = null
                    axios.post(this.submitUrl,this.maker)
                        .then(res =>{
                            alert(res.message)
                        })
                }
            },
            mounted() {
                // 去url里取出cid
                const urlObj = new URL(window.location.href)
                const params = new URLSearchParams(urlObj.search)
                const mid = params.get('id')
                if (mid) {// 如果存在id参数就是修改，否则是添加
                    let url = '/api/v1/maker/detail/' +mid
                    axios.get(url)
                        .then(res =>{
                            this.maker = res.data
                            this.maker.occupationList = this.occupation.split(" / ")
                        })
                    this.submitUrl = "/api/v1/maker/update"
                }

            }

        })
    </script>
</div>
</body>
</html>