<!DOCTYPE html PUBLIC>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>后台管理中心</title>
    <link rel="stylesheet" href="/admin/css/pintuer.css"/>
    <link rel="stylesheet" href="/admin/css/admin.css"/>
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="/admin/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/admin/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/admin/js/pintuer.js"></script>
    <title>**</title>
    <style type="text/css">
        .occupation-box {
            border: 1px solid #ddd;
            width: 300px !important;
            height: 100px;
            padding: 20px;
        }

        .occupation-box > label {
            margin-right: 22px;
        }
        .body-content label {
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 资讯信息</strong></div>
    <div id="app" class="body-content">
        <form method="post" class="form-x" id="form" @submit.prevent="submit">
            <div class="form-group">
                <div class="label">
                    <label>标题：</label>
                </div>
                <div class="field">
                    <input type="hidden" name="id" v-model="news.id" />
                    <input type="text" class="input" name="name" v-model="news.title" size="100" />
                    <div class="tips"></div>
                </div>
            </div>
            <!--内容-->
            <div class="form-group">
                <div class="label">
                    <label>内容：</label>
                </div>
                <div class="field">
                    <textarea class="input" type="text" v-model="news.content"></textarea>
                </div>
            </div>
            <!--来源：-->
            <div class="form-group">
                <div class="label">
                    <label>信源：</label>
                </div>
                <div class="field">
                    <input type="text" class="input" v-model="news.source">
                    <div class="tips"></div>
                </div>
            </div>
            <!--海报-->
            <div class="form-group">
                <div class="label">
                    <label>海报：</label>
                </div>
                <div class="field">
                    <input type="text" name="post" class="input" v-model="news.post"
                    data-bs-toggle="hover" data-bs-place="right" style="width: 600px" readonly>
                    <img class="img-upload" v-show="news.post != null" v-bind:src="news.post" width="200" alt="">
                    <input type="file" name="file" accept="image/*" @change="uploadPost">
                </div>
            </div>
            <!--发布日期-->
            <div class="form-group">
                <div class="label">
                    <label>发布日期：</label>
                </div>
                <div class="field">
                    <input class="input" type="date" v-model="news.releaseDate">
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button border-main icon-check-square-o" type="submit"> 提交</button>
                    <button class="button border-red icon-tags" type="button" onclick="window.history.go(-1);"> 返回
                    </button>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript" src="/public/js/vue.js"></script>
    <script type="text/javascript" src="/public/js/axios.js"></script>
    <script type="text/javascript" src="/public/js/axios-config.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                news: {
                    post:null
                },
                submitUrl: "/api/v1/news/save"
            },
            methods: {
                uploadPost(event) {
                    //封装一个form表单对象
                    const form = new FormData()
                    //将文件选择器添加到form对象里
                    form.append('multipartFile',event.target.files[0])
                    let url = '/api/v1/file/upload'
                    axios.post(url,form)
                        .then(res=>{
                            this.news.post = res.data
                        })
                },
                submit() {
                    axios.post(this.submitUrl,this.news)
                        .then(res=>{
                            alert(res.message)
                        })
                }
            },
            mounted() {
                // 去url里取出cid
                const urlObj = new URL(window.location.href)
                const params = new URLSearchParams(urlObj.search)
                const cid = params.get('id')
                if (cid) {// 如果存在id参数就是修改，否则是添加
                    this.submitUrl ='/api/v1/news/update'
                    let url = '/api/v1/news/detail/'+cid
                    axios.get(url)
                        .then(res =>{
                            this.news = res.data
                        })
                }

            }

        })
    </script>
</div>
</body>
</html>