<!DOCTYPE html>
<html lang="en">
<head>
<title>News</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/faqstyle.css" type="text/css" media="all" />
<link href="css/medile.css" rel='stylesheet' type='text/css'/>
<link href="css/single.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/contactstyle.css" type="text/css" media="all" />
<!-- news-css -->
<link rel="stylesheet" href="news-css/news.css" type="text/css" media="all" />
<!-- //news-css -->
<!-- list-css -->
<link rel="stylesheet" href="list-css/list.css" type="text/css" media="all" />
<!-- //list-css -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="css/font-awesome.min.css" />
<!-- //font-awesome icons -->
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
<div id="app">
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="w3layouts_logo">
				<a href="index.html"><h1>One<span>Movies</span></h1></a>
			</div>
			<div class="w3_search">
				<form action="#" method="post">
					<input type="text" name="Search" placeholder="Search" required="">
					<input type="submit" value="Go">
				</form>
			</div>
			<div class="w3l_sign_in_register">
				<ul>
					<li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 123 345 653</li>
					<li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Sign In & Sign Up
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<div class="w3_login_module">
							<div class="module form-module">
							  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
								<div class="tooltip">Click Me</div>
							  </div>
							  <div class="form">
								<h3>Login to your account</h3>
								<form action="#" method="post">
								  <input type="text" name="Username" placeholder="Username" required="">
								  <input type="password" name="Password" placeholder="Password" required="">
								  <input type="submit" value="Login">
								</form>
							  </div>
							  <div class="form">
								<h3>Create an account</h3>
								<form action="#" method="post">
								  <input type="text" name="Username" placeholder="Username" required="">
								  <input type="password" name="Password" placeholder="Password" required="">
								  <input type="email" name="Email" placeholder="Email Address" required="">
								  <input type="text" name="Phone" placeholder="Phone Number" required="">
								  <input type="submit" value="Register">
								</form>
							  </div>
							  <div class="cta"><a href="#">Forgot your password?</a></div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->
<!-- nav -->
	<div class="movies_nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
							<li><a href="index.html">首页</a></li>
							<li><a href="news.html">影讯&amp;购票</a></li>
							<li><a href="series.html">排行榜</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">分类 <b class="caret"></b></a>
								<genres-menus></genres-menus>
							</li>
							
							<li class="active"><a href="review.html">影评</a></li>
							
							<!--<li><a href="short-codes.html">排行榜</a></li>-->
							<li><a href="list.html">电影列表</a></li>
						</ul>
					</nav>
				</div>
			</nav>	
		</div>
	</div>
<!-- //nav -->
<div class="general_social_icons">
	<nav class="social">
		<ul>
			<li class="w3_twitter"><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
			<li class="w3_facebook"><a href="#">Facebook <i class="fa fa-facebook"></i></a></li>
			<li class="w3_dribbble"><a href="#">Dribbble <i class="fa fa-dribbble"></i></a></li>
			<li class="w3_g_plus"><a href="#">Google+ <i class="fa fa-google-plus"></i></a></li>				  
		</ul>
  </nav>
</div>
<!-- faq-banner -->
	<div class="faq">
			<div class="container">
				<div class="agileits-news-top">
					<ol class="breadcrumb">
					  <li><a href="index.html">Home</a></li>
					  <li class="active">Reviews</li>
					</ol>
				</div>
				<div class="agileinfo-news-top-grids">
					<div class="col-md-8 wthree-top-news-left">
						<div class="wthree-news-left">
							<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
								<!--<ul id="myTab" class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#home1" id="home1-tab" role="tab" data-toggle="tab" aria-controls="home1" aria-expanded="true">最受欢迎的</a></li>
								</ul>-->
								<div id="myTabContent" class="tab-content">
									<div role="tabpanel" class="tab-pane fade in active" id="home1" aria-labelledby="home1-tab">
										<div class="wthree-news-top-left" v-for="item in chunkedItems">
											<div class="col-md-6 w3-agileits-news-left" v-for="review in item">
												<div class="col-sm-5 wthree-news-img">
													<a v-bind:href="'review-single.html?id='+review.id">
														<img v-bind:src="review.film.cover" alt="" /></a>
												</div>
												<div class="col-sm-7 wthree-news-info">
													<h5><a v-bind:href="'review-single.html?id='+review.id">{{review.film.name}}</a></h5>
													<p class="info" style="height: 130px; overflow-y: hidden">{{review.content}}</p>
													<ul>
														<li><i class="fa fa-clock-o" aria-hidden="true"></i>{{review.created}}</li>
														<li><i class="fa fa-eye" aria-hidden="true"></i>{{review.viewTimes}}</li>
													</ul>
												</div>
												<div class="clearfix"> </div>
											</div>

											<div class="clearfix"> </div>
										</div>
									</div>
									<div class="blog-pagenat-wthree">
										<ul>
											<li v-show="page.hasPreviousPage">
												<a class="frist" href="javascript:void(0)" @click="goto(page.prePage)">Prev</a>
											</li>
											<li v-for="item in page.navigatepageNums">
												<a v-bind:class="item==page.pageNum?'active':''" href="javascript:void(0)"
												   @click="goto(item)">{{item}}</a>
											</li>
											<li v-show="page.hasNextPage">
												<a class="last" href="javascript:void(0)" @click="goto(page.nextPage)">Next</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 wthree-news-right">
						<!-- news-right-top -->
						<div class="news-right-top">
							<div class="wthree-news-right-heading">
								<h3>热门短评</h3>
							</div>
							<div class="wthree-news-right-top">
								<div class="news-grids-bottom">
									<!-- date -->
									<div id="design" class="date">
										<div id="cycler">   
											<div class="date-text">
												<a href="news-single.html">August 15,2019</a>
												<p>作为曾经挽救日本90年代颓废的商业电影界的重要人物，三池崇史近几年却四处碰壁，先是漫改电影遭遇滑铁卢.</p>
											</div>
											<div class="date-text">
												<a href="news-single.html">July 08,2018 <span class="blinking"><img src="images/new.png" alt="" /></span></a>
												<p>时光荏苒，《我的天才女友》第二季已经结束，看着这部剧一集一集地成长，从原本单纯的女性主义，衣着了越来越多的政治装束，思想表达更加丰富，情感更加深层，我不由得欣喜、感动（养成系骄傲~）.</p>
											</div>
											<div class="date-text">
												<a href="news-single.html">February 15,2019</a>
												<p>再次确认过一遍后我可以说，本集确实好看（尽管仍有些细节上的小问题）。 不仅因为E11全方位描述了一场小型战斗/战役的爆发</p>
											</div>
											<div class="date-text">
												<a href="news-single.html">January 15,2020 <span class="blinking"><img src="images/new.png" alt="" /></span></a>
												<p>影院还没开门，那么这就是今年女神节的节日电影了。 忘掉正联扩展宇宙，忘掉自杀小队，忘掉有哈莉·奎因存在的所有动画</p>
											</div>
											<div class="date-text">
												<a href="news-single.html">September 24,2018</a>
												<p>首先，我觉得故事的背景反而可以设置在初中，根据个人经验来看，在高考这道门面前，每个学生都虔诚，哪怕是不自觉地为之低头</p>
											</div>
										</div>

									</div>
									<!-- //date -->
								</div>
							</div>
						</div>
						<!-- //news-right-top -->
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
	</div>
<!-- //faq-banner -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3ls_footer_grid">
				<div class="col-md-6 w3ls_footer_grid_left">
					<div class="w3ls_footer_grid_left1">
						<h2>Subscribe to us</h2>
						<div class="w3ls_footer_grid_left1_pos">
							<form action="#" method="post">
								<input type="email" name="email" placeholder="Your email..." required="">
								<input type="submit" value="Send">
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6 w3ls_footer_grid_right">
					<a href="index.html"><h2>One<span>Movies</span></h2></a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-5 w3ls_footer_grid1_left">
				<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
			</div>
			<div class="col-md-7 w3ls_footer_grid1_right">
				<ul>
					<li>
						<a href="genres3.html">Movies</a>
					</li>
					<li>
						<a href="faq.html">FAQ</a>
					</li>
					<li>
						<a href="horror.html">Action</a>
					</li>
					<li>
						<a href="genres3.html">Adventure</a>
					</li>
					<li>
						<a href="comedy.html">Comedy</a>
					</li>
					<li>
						<a href="icons.html">Icons</a>
					</li>
					<li>
						<a href="contact.html">Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script src="/public/js/vue.js"></script>
<script src="/public/js/axios.js"></script>
<script src="/public/js/axios-config.js"></script>
<script src="/public/js/vue-config.js"></script>

<script>
	new Vue({
		el: '#app',
		data: {
			page: {},
			list: [],
			params:{
				pageNum: 1,
				pageSize:10
			}
		},
		computed:{//计算属性
			chunkedItems(){
				const chunked = []
				for (let i=0;i<this.list.length;i+=2){
					chunked.push(this.list.slice(i,i+2))//将list的第i项和第i+1项合并为一个节点，push到chunked数组里
				}
				return chunked;
			}
		},
		methods: {
			goto(pn){
				this.params.pageNum = pn
				this.loadData()
			},
			loadData(){//查询影评数据
				let url = '/api/v1/review/page'
				axios.post(url,this.params)
						.then(res =>{
							this.page = res.data
							this.list = res.data.list
						})
			}
		},
		mounted() {
			this.loadData()//查询影评的列表数据
		}
	})
</script>

<script>
	$('.toggle').click(function(){
		// Switches the Icon
		$(this).children('i').toggleClass('fa-pencil');
		// Switches the forms
		$('.form').animate({
			height: "toggle",
			'padding-top': 'toggle',
			'padding-bottom': 'toggle',
			opacity: "toggle"
		}, "slow");
	});
</script>

<script>
	function blinker() {
		$('.blinking').fadeOut(500);
		$('.blinking').fadeIn(500);
	}
	setInterval(blinker, 1000);
</script>
<script>
	function cycle($item, $cycler){
		setTimeout(cycle, 2000, $item.next(), $cycler);

		$item.slideUp(1000,function(){
			$item.appendTo($cycler).show();
		});
	}
	cycle($('#cycler div:first'),  $('#cycler'));
</script>

<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>