<!DOCTYPE html>
<html lang="en">
<head>
    <title>Single</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/medile.css" rel='stylesheet' type='text/css'/>
    <link href="css/single.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="css/contactstyle.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/faqstyle.css" type="text/css" media="all"/>
    <!-- news-css -->
    <link rel="stylesheet" href="news-css/news.css" type="text/css" media="all"/>
    <!-- //news-css -->
    <!-- list-css -->
    <link rel="stylesheet" href="list-css/list.css" type="text/css" media="all"/>
    <!-- //list-css -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items: 5,
                itemsDesktop: [640, 5],
                itemsDesktopSmall: [414, 4]

            });

        });
    </script>
    <script src="js/simplePlayer.js"></script>
    <script>
        $("document").ready(function () {
            $("#video").simplePlayer();
        });
    </script>

</head>

<body>
<div id="app">
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3layouts_logo">
                <a href="index.html"><h1>One<span>Movies</span></h1></a>
            </div>
            <div class="w3_search">
                <form action="#" method="post">
                    <input type="text" name="Search" placeholder="Search" required="">
                    <input type="submit" value="Go">
                </form>
            </div>
            <div class="w3l_sign_in_register">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 123 345 653</li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //header -->
    <!-- bootstrap-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Sign In & Sign Up
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <div class="w3_login_module">
                            <div class="module form-module">
                                <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                                    <div class="tooltip">Click Me</div>
                                </div>
                                <div class="form">
                                    <h3>Login to your account</h3>
                                    <form action="#" method="post">
                                        <input type="text" name="Username" placeholder="Username" required="">
                                        <input type="password" name="Password" placeholder="Password" required="">
                                        <input type="submit" value="Login">
                                    </form>
                                </div>
                                <div class="form">
                                    <h3>Create an account</h3>
                                    <form action="#" method="post">
                                        <input type="text" name="Username" placeholder="Username" required="">
                                        <input type="password" name="Password" placeholder="Password" required="">
                                        <input type="email" name="Email" placeholder="Email Address" required="">
                                        <input type="text" name="Phone" placeholder="Phone Number" required="">
                                        <input type="submit" value="Register">
                                    </form>
                                </div>
                                <div class="cta"><a href="#">Forgot your password?</a></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- //bootstrap-pop-up -->
    <!-- nav -->
    <div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class=""><a href="index.html">首页</a></li>
                            <li><a href="news.html">影讯&amp;购票</a></li>
                            <li><a href="series.html">排行榜</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">分类 <b
                                        class="caret"></b></a>
                                <genres-menus></genres-menus>
                            </li>

                            <li><a href="review.html">影评</a></li>

                            <!--<li><a href="short-codes.html">排行榜</a></li>-->
                            <li><a href="list.html">电影列表</a></li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
    <!-- //nav -->
    <div class="general_social_icons">
        <nav class="social">
            <ul>
                <li class="w3_twitter"><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
                <li class="w3_facebook"><a href="#">Facebook <i class="fa fa-facebook"></i></a></li>
                <li class="w3_dribbble"><a href="#">Dribbble <i class="fa fa-dribbble"></i></a></li>
                <li class="w3_g_plus"><a href="#">Google+ <i class="fa fa-google-plus"></i></a></li>
            </ul>
        </nav>
    </div>
    <!-- single -->
    <div class="single-page-agile-main">
        <div class="container">
            <!-- /w3l-medile-movies-grids -->
            <div class="agileits-single-top">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Single</li>
                </ol>
            </div>
            <div class="single-page-agile-info">
                <!-- /movie-browse-agile -->
                <div class="show-top-grids-w3lagile">
                    <div class="col-sm-8 single-left">
                        <div class="song">
                            <div class="song-info">
                                <h3>{{ film.name }}</h3>
                            </div>
                            <div class="video-grid-single-page-agileits">
                                <div data-video="dLmKio67pVQ" id="video">
                                    <img v-bind:src="film.cover" alt="" class="img-responsive"/></div>
                                <div id="info">
								<span>
									<span class="pl">导演</span>：
									<span class="attrs">
                                        <a href="#" v-for="maker in film.makerList" v-if="maker.role=='导演'">{{maker.name}}<i> | </i></a>
                                    </span>
								</span>
                                    <br/>
                                    <span>
									<span class="pl">编剧</span>：
                                    <span class="attrs">
                                        <a href="#" v-for="maker in film.makerList" v-if="maker.role=='编剧'">{{maker.name}}<i> | </i></a>
                                    </span>
								</span>
                                    <br/>
                                    <span>
									<span class="pl">主演</span>：
                                    <span class="attrs">
                                        <a href="#" v-for="maker in film.makerList" v-if="maker.role=='演员'">{{maker.name}}<i> | </i></a>
                                    </span>
                                    </span>
                                    <br/>
                                    <span>
                                        <span class="pl">类型</span>：
                                        <span class="attrs">
                                            <a v-for="c in film.categoryList">{{c.name}}<i> | </i></a>
                                        </span>
                                    </span>
                                    <br/>
                                    <span>
                                        <span class="pl">制片国家</span>：
                                        <span class="attrs">{{film.country}}</span>
                                    </span>
                                    <br/>
                                    <span>
                                        <span class="pl">语言</span>：
                                        <span class="attrs">{{film.language}}</span>
                                    </span>
                                    <br/>
                                    <span>
                                        <span class="pl">上映日期</span>：
                                        <span class="attrs">{{extractYear(film.releaseDate)}}年</span>
                                    </span>
                                    <br/>
                                    <span>
                                        <span class="pl">片长</span>：
                                        <span class="attrs">{{film.length}} 分钟</span>
                                    </span>
                                </div>
                                <div class="rating_wrap clearbox" rel="v:rating">
                                    <div class="clearfix">
                                        <div class="rating_logo ll">网友评分</div>
                                    </div>
                                    <div class="rating_self clearfix" typeof="v:Rating">
                                        <strong class="ll rating_num" property="v:average">{{Number(film.score).toFixed(1)}}</strong>
                                        <span property="v:best" content="10.0"></span>
                                        <div class="rating_right ">
                                            <div class="block-stars">
                                                <ul class="w3l-ratings">
                                                    <li v-for="s in film.stars" style="margin-right: 5px">
                                                        <a href="#"><i v-bind:class="s" aria-hidden="true"></i></a>
                                                    </li>

                                                </ul>
                                            </div>
                                            <div class="rating_sum">
                                                <a href="collections" class="rating_people">
                                                    <span property="v:votes">{{film.statistics[0]}}</span>人评价
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ratings-on-weight">

                                        <div class="item">
								        
								        <span class="stars5 starstop" title="力荐">
								            5星
								        </span>
                                            <!--<div class="power" style="width:4px"></div>-->
                                            <span class="rating_per">{{Number(film.statistics[5] / film.statistics[0]*100).toFixed(1)}}%</span>
                                            <br>
                                        </div>
                                        <div class="item">
								        
								        <span class="stars4 starstop" title="推荐">
								            4星
								        </span>
                                            <!--<div class="power" style="width:15px"></div>-->
                                            <span class="rating_per">{{Number(film.statistics[4] / film.statistics[0]*100).toFixed(1)}}%</span>
                                            <br>
                                        </div>
                                        <div class="item">
								        
								        <span class="stars3 starstop" title="还行">
								            3星
								        </span>
                                            <!--<div class="power" style="width:64px"></div>-->
                                            <span class="rating_per">{{Number(film.statistics[3] / film.statistics[0]*100).toFixed(1)}}%</span>
                                            <br>
                                        </div>
                                        <div class="item">
								        
								        <span class="stars2 starstop" title="较差">
								            2星
								        </span>
                                            <!--<div class="power" style="width:37px"></div>-->
                                            <span class="rating_per">{{Number(film.statistics[2] / film.statistics[0]*100).toFixed(1)}}%</span>
                                            <br>
                                        </div>
                                        <div class="item">
								        
								        <span class="stars1 starstop" title="很差">
								            1星
								        </span>
                                            <!--<div class="power" style="width:7px"></div>-->
                                            <span class="rating_per">{{Number(film.statistics[1] / film.statistics[0]*100).toFixed(1)}}%</span>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="film_brief" style="clear: both;">
                                    <h4 style="line-height: 2em; height: 2em; color: #ff9800;">{{film.name}}的简介......</h4>
                                    <p style="font-size: 0.8em; text-indent: 2em;">{{film.info}}</p>
                                </div>
                            </div>
                        </div>

                        <div id="interest_sect_level" class="clearfix">


                        </div>
                        <div class="clearfix"></div>

                        <div class="all-comments">
                            <div class="ll j a_stars">
                                <span>打分:</span>
                                <div class="block-stars" style="position: relative; left:-550px">
                                    <ul id="score-list" class="w3l-ratings" style="display: inline-block;">
                                        <li @mouseover="overScore(1)" @mouseleave="leaveScore(1)" @click="clickScore(1)">
                                            <a href="javascript:void(0)"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        </li>
                                        <li @mouseover="overScore(2)" @mouseleave="leaveScore(2)" @click="clickScore(2)">
                                            <a href="javascript:void(0)"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        </li>
                                        <li @mouseover="overScore(3)" @mouseleave="leaveScore(3)" @click="clickScore(3)">
                                        <a href="javascript:void(0)"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        </li>
                                        <li @mouseover="overScore(4)" @mouseleave="leaveScore(4)" @click="clickScore(4)">
                                            <a href="javascript:void(0)"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        </li>
                                        <li @mouseover="overScore(5)" @mouseleave="leaveScore(5)" @click="clickScore(5)">
                                            <a href="javascript:void(0)"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                    <span id="score-text" style="font-size: 0.8em; display: inline-block; width: 30px;">推荐</span>
                                </div>
                            </div>
                            <div class="all-comments-info">
                                <div class="agile-info-wthree-box">
                                    <form @submit.prevent="submitReview(0)">
                                        <textarea v-model="content" placeholder="填写评论" required=""></textarea>
                                        <input type="submit" value="提交">
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                            <div class="media-grids">
                                <div class="media" v-for="item in reviewList">
                                    <h5>{{item.user.nickName}}</h5>
                                    <div class="media-left">
                                        <a href="#">
                                            <img v-bind:src="item.user.avatar" title="One movies" alt=" "/>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p>{{item.content}}</p>
                                        <span>View all posts by :<a href="#"> {{item.user.username}} </a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 single-right">
                        <h3>Up Next</h3>
                        <div class="single-grid-right">
                            <div class="single-right-grids">
                                <div class="col-md-4 single-right-grid-left">
                                    <a href="single.html"><img src="images/m1.jpg" alt=""/></a>
                                </div>
                                <div class="col-md-8 single-right-grid-right">
                                    <a href="single.html" class="title"> Nullam interdum metus</a>
                                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                                    <p class="views">2,114,200 views</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>


                    <div class="clearfix"></div>
                </div>
                <!-- //movie-browse-agile -->
                <!--body wrapper start-->


            </div>
            <!-- //w3l-latest-movies-grids -->
        </div>
    </div>
    <!-- //w3l-medile-movies-grids -->

    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="w3ls_footer_grid">
                <div class="col-md-6 w3ls_footer_grid_left">
                    <div class="w3ls_footer_grid_left1">
                        <h2>Subscribe to us</h2>
                        <div class="w3ls_footer_grid_left1_pos">
                            <form action="#" method="post">
                                <input type="email" name="email" placeholder="Your email..." required="">
                                <input type="submit" value="Send">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 w3ls_footer_grid_right">
                    <a href="index.html"><h2>One<span>Movies</span></h2></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-5 w3ls_footer_grid1_left">
                <p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a
                        href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a
                        href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
            </div>
            <div class="col-md-7 w3ls_footer_grid1_right">
                <ul>
                    <li>
                        <a href="genres3.html">Movies</a>
                    </li>
                    <li>
                        <a href="faq.html">FAQ</a>
                    </li>
                    <li>
                        <a href="horror.html">Action</a>
                    </li>
                    <li>
                        <a href="genres3.html">Adventure</a>
                    </li>
                    <li>
                        <a href="comedy.html">Comedy</a>
                    </li>
                    <li>
                        <a href="icons.html">Icons</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->

<script src="/public/js/vue.js"></script>
<script src="/public/js/axios.js"></script>
<script src="/public/js/axios-config.js"></script>
<script src="/public/js/vue-config.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            loginUser: localStorage.getItem('loginUser'),//保存登录用户的Id
            star: 0,//用户打的分
            content:null,//保存用户的评论
            scoreTextArr:["","很差","较差","还行","推荐","力荐"],
            film: {}, // null会导致网页显示错误
            reviewList:[],//当前影片的评论列表
            params:{
                pageNum:1,
                pageSize:10,
                status:1,
                filmId: null
            }
        },
        methods: {
            loadReviewList(){
                let url = '/api/v1/review/page'
                axios.post(url,this.params)
                    .then(res =>{
                        res.data.list.forEach(item => {
                            this.reviewList.push(item)
                        })
                    })
            },
            submitReview(reviewId){//提交用户评论

                this.loginUser = {'id':1}
                if (this.loginUser){
                    let url = '/api/v1/review/save'
                    let params ={
                        'userId':this.loginUser.id,
                        'filmId':this.film.id,
                        'content':this.content,
                        'reviewId':reviewId
                    }
                    axios.post(url,params)
                        .then(res =>{
                            alert(res.message)
                        })
                } else{
                    //未登录则弹出登录弹窗（模态框）
                    $("#myModal").modal('show')
                }

            },
            clickScore(s){//用户打分点击星星执行的函数
                this.star = s
                this.leaveScore(s)
                this.loginUser = {'id':100}//用来打分评论的模拟账户，登录模式实现后删除
                if (this.loginUser){//说明已经登录过了
                    let params={
                        'userId':this.loginUser.id,
                        'filmId':this.film.id,
                        'score': this.star *2
                    }
                    let url = '/api/v1/score/save'
                    axios.post(url,params)
                        .then(res => {
                            alert(res.message)
                            if (res.code == 200){
                                this.loadData(this.film.id)
                            }
                        })
                } else {
                    //未登录则弹出登录弹窗（模态框）
                    $("#myModal").modal('show')
                }
            },
            leaveScore(s){//用户打分鼠标离开在星时执行的函数
                const scoreList = document.querySelectorAll("#score-list>li")
                document.querySelector("#score-text").innerHTML = this.scoreTextArr[this.star]
                for (const i in scoreList){
                    if (i >= this.star){
                        //先移除实心的星，再添加空的
                        scoreList[i].querySelector("i").classList.remove("fa-star")
                        scoreList[i].querySelector("i").classList.add("fa-star-o")
                    }
                }
            },
            overScore(s){//用户打分鼠标悬停在星时执行的函数
                const scoreList = document.querySelectorAll("#score-list>li")
                document.querySelector("#score-text").innerHTML = this.scoreTextArr[s]
                for (const i in scoreList){
                    if (i<s){
                        //先移除空的星类别，再添加
                        scoreList[i].querySelector("i").classList.remove("fa-star-o")
                        scoreList[i].querySelector("i").classList.add("fa-star")
                    } else {
                        break;
                    }
                }
            },
            loadData(fid) {
                let url = `/api/v1/film/detail/${fid}`
                axios.get(url)
                    .then(res =>{
                        if (res.data){
                            this.film = res.data
                            // 将评分转换成几颗星
                            this.film.stars = new Array(5)
                            let score = this.film.score//获取影片的评分
                            for (let i = 0; i < 5; i++) {
                                if (score >= 2) {
                                    this.film.stars[i] = 'fa fa-star'
                                } else {
                                    if (score < 2 && score > 0) {
                                        this.film.stars[i] = 'fa fa-star-half-o'
                                    } else {
                                        this.film.stars[i] = 'fa fa-star-o'
                                    }
                                }
                                score -= 2
                            }
                        }else {
                            //未找到在地址后的id参数，跳转404
                            window.location.href = '/user/404.html'
                        }
                    })
            },
            extractYear(dateStr) {
                // 尝试使用 Date 对象解析日期字符串
                const date = new Date(dateStr);
                if (isNaN(date)) {
                    // 如果解析失败，可以使用字符串处理方法（这里假设日期字符串格式为 YYYY-MM-DD）
                    const parts = dateStr.split('-');
                    return parts.length >= 3 ? parseInt(parts[0], 10) : null; // 返回年份或 null（如果格式不正确）
                } else {
                    // 如果解析成功，返回年份
                    return date.getFullYear();
                }
            }
        },
        mounted() {
            const urlObj = new URL(window.location.href)
            const params = new URLSearchParams(urlObj.search)
            const fid = params.get('id')
            if (fid) {
                this.loadData(fid)//加载影片信息
                this.params.filmId = fid
                this.loadReviewList()
            } else {
                // 如果未在地址后找到id参数，则跳转到404页面
                window.location.href = '/user/404.html'
            }
        }
    })
</script>

<script>
    $('.toggle').click(function () {
        // Switches the Icon
        $(this).children('i').toggleClass('fa-pencil');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });
</script>

<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<!-- //here ends scrolling icon -->
</body>
</html>